/* footer背景色 */
#footer {
  background: linear-gradient(180deg, var(--heo-card-bg-none) 0%, var(--heo-card-bg) 25%);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #footer {
    background: linear-gradient(180deg, var(--heo-background) 0%, var(--heo-card-bg) 25%);
    margin-top: 0;
    z-index: 999;
  }
}
/* footer样式 */
#footer-wrap {
  color: var(--heo-fontcolor);
}

#footer-wrap a {
  color: var(--heo-fontcolor);
  height: 44px;
  line-height: 36px;
}

#footer-wrap a:hover {
  color: var(--heo-hovertext);
  background-color: var(--heo-none);
}

div#footer_deal {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  img.footer_mini_logo {
    display: none;
  }

  div#footer_deal {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

a.deal_link {
  display: flex;
  margin: 1rem 27px;
  color: var(--heo-card-bg);
  border-radius: 3rem;
  width: 32px;
  height: 32px;
  background: var(--heo-fontcolor);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

a.deal_link:hover {
  color: var(--heo-white);
  background: var(--heo-main);
}

img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  transition: cubic-bezier(0, 0, 0, 1.29) 0.5s;
  -webkit-user-select: none;
}

img.footer_mini_logo:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

/* logo居中 */
#weblogo {
  align-self: center;
}

#footer-wrap a#heoblog_footerlogo:hover {
  background: var(--heo-none);
}

.heoblog_footerlogo_img {
  filter: drop-shadow(0 12px 12px #ee7d7936);
}
/* v3footer */
#heo-footer .footer-links {
  display: flex;
  flex-direction: column;
}

#heo-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

#heo-footer .footer-item {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 0.38rem 0;
  color: var(--heo-fontcolor);
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
}

#heo-footer .footer-item:hover {
  color: var(--heo-theme);
}

#heo-footer .footer-group {
  min-width: 120px;
}

#heo-footer .footer-title-group {
  display: flex;
  align-items: center;
  margin: 1rem 0 0.7rem 0;
}

#heo-footer .footer-title-group a {
  margin-left: 8px;
}

#heo-footer .footer-title-group i {
  line-height: 1;
  color: var(--heo-secondtext);
  transition: 0.3s;
  font-size: 16px;
  opacity: 0.6;
}


#heo-footer .footer-title-group a:hover i {
  color: var(--heo-main);
  opacity: 1;
}

#heo-footer .footer-title-group .footer-title {
  margin: 0;
}

#heo-footer .random-friends-btn {
  display: flex;
}

#heo-footer .footer-title {
  color: var(--heo-secondtext);
  font-size: 0.8rem;
}

#footer-banner {
  padding: 1rem;
  color: var(--heo-fontcolor);
  margin-top: 1rem;
  background: var(--heo-secondbg);
  display: flex;
  overflow: hidden;
  z-index: 1002;
  transition: 0.3s;
}

#footer-banner .footer-banner-links {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

#footer-banner .footer-banner-left {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
}

#footer-banner .footer-banner-link {
  margin-right: 1rem;
  color: var(--heo-fontcolor);
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
}

#footer-banner .footer-banner-link.cc {
  margin-right: 0rem;
}

#footer-banner .footer-banner-link.cc i {
  margin-right: 0.5rem;
  font-size: 18px;
}

#footer-banner .footer-banner-link:hover {
  color: var(--heo-theme);
}

#footer-banner>div>div.footer-banner-left>span {
  margin-right: 1rem;
}

#footer-banner .footer-banner-right a:hover {
  color: var(--heo-lighttext);
}

#footer_deal i {
  font-size: 0.9rem;
  line-height: 0.9rem;
  height: 0.9rem;
}
/* 文章标题 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  padding-top: 0;
  padding-left: 0 !important;
  font-weight: weight;
}

#post h2 {
  margin-top: 1.5rem;
}

#article-container>h2:nth-child(1), #article-container>h1:nth-child(1) {
  margin: 0;
}