#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='category-bar-home')
            a(href="/") 首页
        !=getarray_bar("category")
    a.category-bar-more(href="/categories/") 更多