#keyboard-tips(style='zoom: 1;')
  .keyboardTitle 博客快捷键
  .keybordList
    .keybordItem
      .keyGroup
        .key shift 
        .key K 
      .keyContent
        .content 关闭快捷键功能
    .keybordItem
      .keyGroup
        .key shift 
        .key A 
      .keyContent
        .content 打开中控台
    .keybordItem
      .keyGroup
        .key shift 
        .key M
      .keyContent
        .content 播放/暂停音乐
    .keybordItem
      .keyGroup
        .key shift 
        .key D
      .keyContent
        .content 深色/浅色显示模式
    .keybordItem
      .keyGroup
        .key shift 
        .key S
      .keyContent
        .content 站内搜索
    .keybordItem
      .keyGroup
        .key shift 
        .key R
      .keyContent
        .content 随机访问
    .keybordItem
      .keyGroup
        .key shift 
        .key H
      .keyContent
        .content 返回首页
    .keybordItem
      .keyGroup
        .key shift 
        .key F 
      .keyContent
        .content 友链鱼塘
    .keybordItem
      .keyGroup
        .key shift 
        .key L
      .keyContent
        .content 友链页面
    .keybordItem
      .keyGroup
        .key shift 
        .key P
      .keyContent
        .content 关于本站
