.needEndHide#nav-music(onclick='heo.musicToggle()')
  #nav-music-hoverTips 播放音乐
  meting-js#8668419170(server='tencent' type='playlist' mutex='true' preload='none' theme='var(--heo-main)' data-lrctype='0' order='random')