.js-pjax
  #rightMenu(style='top: 116px; left: 485px;')
    .rightMenu-group.rightMenu-small
      .rightMenu-item#menu-backward
        i.heofont.icon-arrow-left-line
      .rightMenu-item#menu-forward
        i.heofont.icon-arrow-right-line
      .rightMenu-item#menu-refresh
        i.heofont.icon-restart-line(style='font-size: 19px;')
      .rightMenu-item#menu-top
        i.heofont.icon-arrow-up-line
    .rightMenu-group.rightMenu-line.rightMenuPlugin
      .rightMenu-item#menu-copytext
        i.heofont.icon-file-copy-fill
        span 复制选中文本
      .rightMenu-item#menu-pastetext
        i.heofont.icon-clipboard-fill
        span 粘贴文本
      a.rightMenu-item#menu-commenttext(data-pjax-state)
        i.heofont.icon-chat-new-fill
        span 引用到评论
      .rightMenu-item#menu-newwindow
        i.heofont.icon-window-fill
        span 新窗口打开
      .rightMenu-item#menu-copylink
        i.heofont.icon-link
        span 复制链接地址
      .rightMenu-item#menu-copyimg
        i.heofont.icon-file-copy-fill
        span 复制此图片
      //- //- 此方法要求同源
      //- .rightMenu-item#menu-downloadimg
      //-   i.heofont.icon-download-cloud-fill
      //-   span 下载此图片
      .rightMenu-item#menu-search
        i.heofont.icon-search-2-line
        span 站内搜索
      .rightMenu-item#menu-searchBaidu
        i.heofont.icon-baidu-fill
        span 百度搜索
      .rightMenu-item#menu-music-toggle
        i.heofont.icon-play-fill
        span 播放音乐
      .rightMenu-item#menu-music-back
        i.heofont.icon-skip-back-fill
        span 切换到上一首
      .rightMenu-item#menu-music-forward
        i.heofont.icon-skip-forward-fill
        span 切换到下一首
      if theme.music_nav.enable && theme.music_nav.id
        .rightMenu-item#menu-music-playlist(onclick=`window.open(\'https://music.163.com/#/playlist?app_version=8.8.36&id=${theme.music_nav.id}\', \'_blank\');`)
          i.heofont.icon-play-list-2-line
          span 查看所有歌曲
      .rightMenu-item#menu-music-copyMusicName
        i.heofont.icon-file-copy-fill
        span 复制歌名
    .rightMenu-group.rightMenu-line.rightMenuOther
      a.rightMenu-item.menu-Link#menu-randomPost(data-pjax-state)
        i.heofont.icon-signal-tower-fill
        span 随便逛逛
      a.rightMenu-item.menu-link(href='/categories/', data-pjax-state)
        i.heofont.icon-checkbox-multiple-blank-fill
        span 博客分类
      a.rightMenu-item.menu-link(href='/tags/', data-pjax-state)
        i.heofont.icon-price-tag-3-fill
        span 文章标签
    .rightMenu-group.rightMenu-line
      a.rightMenu-item.menu-link(href='/privacy/', data-pjax-state)
        i.heofont.icon-shield-user-fill
        span 隐私协议
      a.rightMenu-item.menu-link(href='/cc/', data-pjax-state)
        i.heofont.icon-creative-commons-fill
        span 版权协议
    .rightMenu-group.rightMenu-line.rightMenuOther
      .rightMenu-item#menu-copy
        i.heofont.icon-external-link-fill
        span 复制地址
      if theme.comments.commentBarrage && theme.twikoo.accessToken
        .rightMenu-item#menu-commentBarrage
          i.heofont.icon-chat-1-fill
          span.menu-commentBarrage-text 显示热评
      .rightMenu-item#menu-darkmode
        i.heofont.icon-moon-clear-fill
        span.menu-darkmode-text 深色模式
      .rightMenu-item#menu-translate
        i.heofont.icon-panben
        span 轉為繁體
  #rightmenu-mask