#algolia-search
  .search-dialog
    nav.search-nav
      span.search-dialog-title= _p('search.title')
      button.search-close-button
        i.fas.fa-times

    .search-wrap
      #algolia-search-input
      hr
      #algolia-search-results
        #algolia-hits
        #algolia-pagination
        #algolia-tips
          i.fa-brands.fa-algolia
          span.algolia-tips-text Algolia 提供搜索服务
  
  #search-mask
