#post-tools.post-tools
  .post-tools-left
    if theme.reward.enable && theme.reward.QR_code
        !=partial('includes/post/reward', {}, {cache: true})
    .reward-link.mode
      a.reward-link-button(href='/wechat/' data-pjax-state='')
        | 运营模式与责任
    .share-link.mobile
      .share-qrcode
        .share-button(title='使用手机访问这篇文章')
          i.fa-solid.fa-qrcode
        .share-main
          .share-main-all
            #qrcode
              canvas(width='250' height='250' style='display: none;')
              img(src='' style='display: block;')
            .reward-dec 使用手机访问这篇文章
    .share-link.weibo
      a.share-button(target='_blank' href='https://service.weibo.com/share/share.php?title=新的文章哟&url=https://acrylic.zhheo.com&pic=https://acrylic.leonus.cn/i/2023/03/04/fnjj9d.png' title='分享到微博' rel='noopener external nofollow noreferrer noopener')
        i.fa-brands.fa-weibo
    .share-link.copyurl
      #post-share-url.share-button(title='复制链接' onclick='rm.copyPageUrl()')
        i.fa-solid.fa-link
  .post-tools-right
    .tag_share
      if (theme.post_meta.post.tags)
        .post-meta__tag-list
            each item in page.tags.data
                a(href=url_for(item.path)).post-meta__tags #[=item.name]
script(async='' src='https://cdn2.tianli0.top/gh/davidshimjs/qrcodejs@master/qrcode.min.js')
script(async='' src='https://cdn2.tianli0.top/npm/js-heo@1.0.11/qrcode/qrcode-lu.js')