$highlight-background = #212121
$highlight-selection = #61616150
$highlight-foreground = #EEFFFF
$highlight-mac-border = rgba(0, 0, 0, .4)
$highlight-gutter = {
  color: alpha($highlight-foreground, .5),
  bg-color: $highlight-background
}
$highlight-tools = {
  color: alpha($highlight-foreground, .8),
  bg-color: darken($highlight-background, 2)
}
$highlight-scrollbar = lighten($highlight-background, 8)

if $highlight_enable
  $highlight-comment = #969896
  $highlight-red = #FF5370
  $highlight-orange = #F78C6C
  $highlight-yellow = #FFCB6B
  $highlight-green = #C3E88D
  $highlight-aqua = #89DDFF
  $highlight-blue = #82AAFF
  $highlight-purple = #C792EA
  $highlight-deletion = #BF42BF
  $highlight-addition = #105EDE
