//- TODO 提取主题色
//- - var tcolor = page.tcolor || "#425AEF"
//- script.
//-   if (getContrastYIQ(tcolor) == "light") {
//-     tcolor = LightenDarkenColor(colorHex(tcolor), -40)
//-   }
//-   document.styleSheets[0].addRule(':root', '--heo-main:' + tcolor + '!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-op:' + tcolor + '23!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-op-deep:' + tcolor + 'dd!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-none:' + tcolor + '00!important');
//-   heo.initThemeColor() 
//-   document.getElementById("coverdiv").classList.add("loaded");
if theme.theme_color.enable
  if theme.theme_color.class == "online"
    script.
      //封面纯色
      function coverColor() {
        var path = document.getElementById("post-cover")?.src;
        // console.log(path);
        if (path !== undefined) {
          var httpRequest = new XMLHttpRequest(); //第一步：建立所需的对象
          httpRequest.open('GET', path + '?imageAve', true); //第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
          httpRequest.send(); //第三步：发送请求  将请求参数写在URL中
          /**
          * 获取数据后的处理程序
          */
          httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
              var json = httpRequest.responseText; //获取到json字符串，还需解析
              var obj = eval('(' + json + ')');
              var value = obj.RGB;
              value = "#" + value.slice(2)
              // console.log(value);
              //   document.getElementById('page-header').style.backgroundColor=value;
              // document.styleSheets[0].addRule('#page-header:before','background: '+ value +'!important');

              if (getContrastYIQ(value) == "light") {
                value = LightenDarkenColor(colorHex(value), -40)
              }

              document.styleSheets[0].addRule(':root', '--heo-main:' + value + '!important');
              document.styleSheets[0].addRule(':root', '--heo-main-op:' + value + '23!important');
              document.styleSheets[0].addRule(':root', '--heo-main-op-deep:' + value + 'dd!important');
              document.styleSheets[0].addRule(':root', '--heo-main-none:' + value + '00!important');
              heo.initThemeColor()
              document.getElementById("coverdiv").classList.add("loaded");
            }
          };
        } else {
          // document.styleSheets[0].addRule('#page-header:before','background: none!important');
          document.styleSheets[0].addRule(':root', '--heo-main: var(--heo-theme)!important');
          document.styleSheets[0].addRule(':root', '--heo-main-op: var(--heo-theme-op)!important');
          document.styleSheets[0].addRule(':root', '--heo-main-op-deep:var(--heo-theme-op-deep)!important');
          document.styleSheets[0].addRule(':root', '--heo-main-none: var(--heo-theme-none)!important');
          heo.initThemeColor()
        }
      }
      //RGB颜色转化为16进制颜色
      function colorHex(str) {
        var reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;
        var that = str;
        if (/^(rgb|RGB)/.test(that)) {
          var aColor = that.replace(/(?:\(|\)|rgb|RGB)*/g, "").split(",");
          var strHex = "#";
          for (var i = 0; i < aColor.length; i++) {
            var hex = Number(aColor[i]).toString(16);
            if (hex === "0") {
              hex += hex;
            }
            strHex += hex;
          }
          if (strHex.length !== 7) {
            strHex = that;
          }
          return strHex;
        } else if (reg.test(that)) {
          var aNum = that.replace(/#/, "").split("");
          if (aNum.length === 6) {
            return that;
          } else if (aNum.length === 3) {
            var numHex = "#";
            for (var i = 0; i < aNum.length; i += 1) {
              numHex += (aNum[i] + aNum[i]);
            }
            return numHex;
          }
        } else {
          return that;
        }
      }

      //16进制颜色转化为RGB颜色
      function colorRgb(str) {
        var reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;
        var sColor = str.toLowerCase();
        if (sColor && reg.test(sColor)) {
          if (sColor.length === 4) {
            var sColorNew = "#";
            for (var i = 1; i < 4; i += 1) {
              sColorNew += sColor.slice(i, i + 1).concat(sColor.slice(i, i + 1));
            }
            sColor = sColorNew;
          }
          //处理六位的颜色值
          var sColorChange = [];
          for (var i = 1; i < 7; i += 2) {
            sColorChange.push(parseInt("0x" + sColor.slice(i, i + 2)));
          }
          return "rgb(" + sColorChange.join(",") + ")";
        } else {
          return sColor;
        }
      }

      //变暗变亮主方法
      function LightenDarkenColor(col, amt) {
        var usePound = false;

        if (col[0] == "#") {
          col = col.slice(1);
          usePound = true;
        }

        var num = parseInt(col, 16);

        var r = (num >> 16) + amt;

        if (r > 255) r = 255;
        else if (r < 0) r = 0;

        var b = ((num >> 8) & 0x00FF) + amt;

        if (b > 255) b = 255;
        else if (b < 0) b = 0;

        var g = (num & 0x0000FF) + amt;

        if (g > 255) g = 255;
        else if (g < 0) g = 0;


        return (usePound ? "#" : "") + String("000000" + (g | (b << 8) | (r << 16)).toString(16)).slice(-6);
      }
      //判断是否为亮色
      function getContrastYIQ(hexcolor) {
        var colorrgb = colorRgb(hexcolor);
        var colors = colorrgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        var red = colors[1];
        var green = colors[2];
        var blue = colors[3];
        var brightness;
        brightness = (red * 299) + (green * 587) + (blue * 114);
        brightness = brightness / 255000;
        if (brightness >= 0.5) {
          return "light";
        } else {
          return "dark";
        }
      }
