//- TODO 提取主题色
//- - var tcolor = page.tcolor || "#425AEF"
//- script.
//-   if (getContrastYIQ(tcolor) == "light") {
//-     tcolor = LightenDarkenColor(colorHex(tcolor), -40)
//-   }
//-   document.styleSheets[0].addRule(':root', '--heo-main:' + tcolor + '!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-op:' + tcolor + '23!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-op-deep:' + tcolor + 'dd!important');
//-   document.styleSheets[0].addRule(':root', '--heo-main-none:' + tcolor + '00!important');
//-   heo.initThemeColor() 
//-   document.getElementById("coverdiv").classList.add("loaded");