p
  | 请
  strong 勾选
  | 你符合的条件：
#friendlink_checkboxs
  p
    label
      input#checkbox1(type='checkbox', onclick='checkForm()')
      | 我已添加 
      b #[=config.author]
      |  博客的友情链接
  p
    label
      input#checkbox2(type='checkbox', onclick='checkForm()')
      | 我的链接主体为 
      b 个人
      | ，网站类型为
      b 博客
  p
    label
      input#checkbox3(type='checkbox', onclick='checkForm()')
      | 我的网站现在可以在中国大陆区域正常访问
  p
    label
      input#checkbox4(type='checkbox', onclick='checkForm()')
      | 网站内容符合中国大陆法律法规
style.
  
  .tk-submit {
              opacity: 0;
              height: 0;
              transition: opacity 0.5s, height 0.5s;
        overflow: hidden;
          }
  
      .tk-comments-container .tk-submit {
        opacity: 1;
              height: auto;
        overflow: auto;
      }
  
      #friendlink_checkboxs input {
        margin-right: 4px;
      }
  
script.
  
  var twikooSubmit = document.getElementsByClassName("tk-submit")[0];
      twikooSubmit.style.opacity = "0";
          function checkForm() {
              var checkbox1 = document.getElementById("checkbox1");
              var checkbox2 = document.getElementById("checkbox2");
              var checkbox3 = document.getElementById("checkbox3");
              var checkbox4 = document.getElementById("checkbox4");
        var twikooSubmit = document.getElementsByClassName("tk-submit")[0];
              if (checkbox1.checked && checkbox2.checked && checkbox3.checked && checkbox4.checked) {
                  twikooSubmit.style.opacity = "1";
                  twikooSubmit.style.height = "auto";
          twikooSubmit.style.overflow = "auto";
          var input = document.getElementsByClassName('el-textarea__inner')[0];
          let evt = document.createEvent('HTMLEvents');
          evt.initEvent('input', true, true);
          input.value = '昵称（请勿包含博客等字样）：\n网站地址（要求博客地址，请勿提交个人主页）：\n头像图片url（请提供尽可能清晰的图片，我会上传到我自己的图床）：\n描述：\n';
          input.dispatchEvent(evt);
          input.focus();
          input.setSelectionRange(-1, -1);
              } else {
                  twikooSubmit.style.opacity = "0";
                  twikooSubmit.style.height = "0";
          twikooSubmit.style.overflow = "hidden";
              }
          }
  