h2(id="友情链接申请")
  a.headerlink(href='#友情链接申请', title='友情链接申请', data-pjax-state)
  | 友情链接申请
p 很高兴能和非常多的朋友们交流，如果你也想加入友链，可以在下方留言，我会在不忙的时候统一添加。
details
  summary ✅ 友链相关须知
  h2(id="你提交的信息有可能被修改")
    a.headerlink(href='#你提交的信息有可能被修改', title='你提交的信息有可能被修改', data-pjax-state)
    | 你提交的信息有可能被修改
  ol
    li
      | 为了友链相关页面和组件的统一性和美观性，可能会对你的昵称进行缩短处理，例如昵称包含
      code 博客
      | 、
      code XX的XX
      | 等内容或形式将被简化。
    li 为了图片加载速度和内容安全性考虑，头像实际展示图片均使用博客自己图床，所以无法收到贵站自己的头像更新，如果有迫切的更改信息需求，请在本页的评论中添加。
    li 为了保证鱼塘能够正确抓取文章，所有的友链链接要求为博客主页链接，而不是个人主页链接。
  h2(id="我的友链信息")
    a.headerlink(href='#我的友链信息', title='我的友链信息', data-pjax-state)
    | 我的友链信息
  ol
    li
      | 我的名称：
      code 张洪Heo
    li
      | 网站地址：
      code https://blog.zhheo.com/
    li
      | 描述：
      code 分享设计与科技生活
    li
      | 头像：
      code https://bu.dusays.com/2022/12/28/63ac2812183aa.png
  .tabs#test2
    ul.nav-tabs
      li.tab.active
        button(type='button', data-href='#test2-1') Butterfly
      li.tab
        button(type='button', data-href='#test2-2') Candy
      li.tab
        button(type='button', data-href='#test2-3') Fuild
      li.tab
        button(type='button', data-href='#test2-4') Volantis
      li.tab
        button(type='button', data-href='#test2-5') Html
      li.tab
        button(type='button', data-href='#test2-6') Jade
    .tab-contents
      .tab-item-content.active#test2-1
        figure.highlight.yml
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang yml
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                    span.line 2
                    br
                    span.line 3
                    br
                    span.line 4
                    br
                td.code
                  pre
                    span.line
                      span.bullet -
                      |  
                      span.attr name:
                      |  
                      span.string 张洪Heo
                    br
                    span.line
                      |   
                      span.attr link:
                      |  
                      span.string https://blog.zhheo.com/
                    br
                    span.line
                      |   
                      span.attr avatar:
                      |  
                      span.string https://bu.dusays.com/2022/12/28/63ac2812183aa.png
                    br
                    span.line
                      |   
                      span.attr descr:
                      |  
                      span.string 分享设计与科技生活
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
      .tab-item-content#test2-2
        figure.highlight.yml
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang yml
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                    span.line 2
                    br
                    span.line 3
                    br
                    span.line 4
                    br
                    span.line 5
                    br
                td.code
                  pre
                    span.line
                      span.bullet -
                      |  
                      span.attr name:
                      |  
                      span.string 张洪Heo
                    br
                    span.line
                      |   
                      span.attr link:
                      |  
                      span.string https://blog.zhheo.com/
                    br
                    span.line
                      |   
                      span.attr avatar:
                      |  
                      span.string https://bu.dusays.com/2022/12/28/63ac2812183aa.png
                    br
                    span.line
                      |   
                      span.attr descr:
                      |  
                      span.string 分享设计与科技生活
                      |  
                    br
                    span.line
                      |   
                      span.attr siteshot:
                      |  
                      span.string https://bu.dusays.com/2023/03/03/6401bcbf1d33b.webp
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
      .tab-item-content#test2-3
        figure.highlight.yml
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang yml
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                    span.line 2
                    br
                    span.line 3
                    br
                    span.line 4
                    br
                    span.line 5
                    br
                    span.line 6
                    br
                td.code
                  pre
                    span.line
                      span.bullet -
                      |  {
                    br
                    span.line
                      |   
                      span.attr title:
                      |  
                      span.string '张洪Heo'
                      | ,
                    br
                    span.line
                      |   
                      span.attr intro:
                      |  
                      span.string '分享设计与科技生活'
                      | ,
                    br
                    span.line
                      |   
                      span.attr link:
                      |  
                      span.string 'https://bu.dusays.com/2022/12/28/63ac2812183aa.png'
                      | ,
                    br
                    span.line
                      |   
                      span.attr image:
                      |  
                      span.string 'https://blog.zhheo.com/'
                    br
                    span.line }
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
      .tab-item-content#test2-4
        figure.highlight.yml
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang yml
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                    span.line 2
                    br
                    span.line 3
                    br
                    span.line 4
                    br
                    span.line 5
                    br
                    span.line 6
                    br
                    span.line 7
                    br
                    span.line 8
                    br
                td.code
                  pre
                    span.line {
                    br
                    span.line
                      |     
                      span.attr "title":
                      |  
                      span.string "张洪Heo"
                      | ,
                    br
                    span.line
                      |     
                      span.attr "avatar":
                      |  
                      span.string "https://bu.dusays.com/2022/12/28/63ac2812183aa.png"
                      | ,
                    br
                    span.line
                      |     
                      span.attr "screenshot":
                      |  
                      span.string "https://bu.dusays.com/2023/03/03/6401bcbf1d33b.webp"
                      | ,
                    br
                    span.line
                      |     
                      span.attr "url":
                      |  
                      span.string "https://blog.zhheo.com/"
                      | ,
                    br
                    span.line
                      |     
                      span.attr "description":
                      |  
                      span.string "分享设计与科技生活"
                      | ,
                    br
                    span.line
                      |     
                      span.attr "group":
                      |  
                      span.comment #根据你的博客来定义
                    br
                    span.line }
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
      .tab-item-content#test2-5
        figure.highlight.html
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang html
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                td.code
                  pre
                    span.line
                      span.tag
                        | <
                        span.name a
                        |  
                        span.attr href
                        | =
                        span.string "https://blog.zhheo.com/"
                        |  
                        span.attr rel
                        | =
                        span.string "external nofollow"
                        | >
                      | 张洪Heo-产品设计
                      span.tag
                        | </
                        span.name a
                        | >
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
      .tab-item-content#test2-6
        figure.highlight.plain
          .highlight-tools
            i.heofont.icon-arrow-down-s-line.expand
            .code-lang Code
            .copy-notice
            i.heofont.icon-file-copy-fill
          table
            tbody
              tr
                td.gutter
                  pre
                    span.line 1
                    br
                td.code
                  pre
                    span.line a(href='https://blog.zhheo.com/' rel="external nofollow") 张洪Heo-产品设计
                    br
        button.tab-to-top(type='button', aria-label='scroll to top')
          i.fas.fa-arrow-up
  h2(id="友情链接曝光")
    a.headerlink(href='#友情链接曝光', title='友情链接曝光', data-pjax-state)
    | 友情链接曝光
  p 本站注重每一个友情链接的曝光，如果你在意本站给贵站提供的曝光资源，那么你可能在以下地方看到贵站。
  ol
    li 【NEW】页脚每次刷新会随机展示3个友情链接（高曝光）
    li 页脚「更多」链接跳转到友链页面
    li 页脚「鱼塘」跳转到友链鱼塘页面
    li 导航栏「友链」分组中跳转到「友链鱼塘」查看所有友链最新的文章（使用友链朋友圈项目）
    li 导航栏「友链」分组中跳转到「友情链接」查看所有友情链接
    li 导航栏「友链」分组中跳转到「宝藏博主」随机跳转到一个友情链接
    li 「鱼塘」页面「钓鱼」功能随机展示一个友链文章
    li 「友情链接」页面「钓鱼」功能随机展示一个友链文章
    li 「友情链接」页面「鱼塘mini」功能展示最近的友链文章
  p
    a(href='/link/', data-pjax-state) 友情链接
    | 页面日UV平均在
    code 20
    | 左右。
  p
    a(href='/moments/', data-pjax-state) 鱼塘
    | 页面日UV平均在
    code 10
    | 左右。
  h2(id="关于推荐标签")
    a.headerlink(href='#关于推荐标签', title='关于推荐标签', data-pjax-state)
    | 关于推荐标签
  p
    a(href='/tags/HeoAwards/', data-pjax-state) HeoAward
    | 是针对博客设计优秀、使用模板时内容与模板完美契合。令人访问时眼前一亮的博客。
ol
  li
    | 我的名称：
    code 张洪Heo
  li
    | 网站地址：
    code https://blog.zhheo.com/
  li
    | 描述：
    code 分享设计与科技生活
  li
    | 头像：
    code https://bu.dusays.com/2022/12/28/63ac2812183aa.png
p
  | 请
  strong 勾选
  | 你符合的条件：
#friendlink_checkboxs
  p
    label
      input#checkbox1(type='checkbox', onclick='checkForm()')
      | 我已添加 
      b 张洪Heo
      |  博客的友情链接
  p
    label
      input#checkbox2(type='checkbox', onclick='checkForm()')
      | 我的链接主体为 
      b 个人
      | ，网站类型为
      b 博客
  p
    label
      input#checkbox3(type='checkbox', onclick='checkForm()')
      | 我的网站现在可以在中国大陆区域正常访问
  p
    label
      input#checkbox4(type='checkbox', onclick='checkForm()')
      | 网站内容符合中国大陆法律法规
style.
  
  .tk-submit {
              opacity: 0;
              height: 0;
              transition: opacity 0.5s, height 0.5s;
        overflow: hidden;
          }
  
      .tk-comments-container .tk-submit {
        opacity: 1;
              height: auto;
        overflow: auto;
      }
  
      #friendlink_checkboxs input {
        margin-right: 4px;
      }
  
script.
  
  var twikooSubmit = document.getElementsByClassName("tk-submit")[0];
      twikooSubmit.style.opacity = "0";
          function checkForm() {
              var checkbox1 = document.getElementById("checkbox1");
              var checkbox2 = document.getElementById("checkbox2");
              var checkbox3 = document.getElementById("checkbox3");
              var checkbox4 = document.getElementById("checkbox4");
        var twikooSubmit = document.getElementsByClassName("tk-submit")[0];
              if (checkbox1.checked && checkbox2.checked && checkbox3.checked && checkbox4.checked) {
                  twikooSubmit.style.opacity = "1";
                  twikooSubmit.style.height = "auto";
          twikooSubmit.style.overflow = "auto";
          var input = document.getElementsByClassName('el-textarea__inner')[0];
          let evt = document.createEvent('HTMLEvents');
          evt.initEvent('input', true, true);
          input.value = '昵称（请勿包含博客等字样）：\n网站地址（要求博客地址，请勿提交个人主页）：\n头像图片url（请提供尽可能清晰的图片，我会上传到我自己的图床）：\n描述：\n';
          input.dispatchEvent(evt);
          input.focus();
          input.setSelectionRange(-1, -1);
              } else {
                  twikooSubmit.style.opacity = "0";
                  twikooSubmit.style.height = "0";
          twikooSubmit.style.overflow = "hidden";
              }
          }
  