.title-h2-a
  .title-h2-a-left
    h2(style='padding-top: 0;margin:0.6rem 0 0 0;') 随机文章
    a.random-post-start(href='javascript:fetchRandomPost();', rel='external nofollow', data-pjax-state, style='transition-duration: 0.3s; transform: rotate(5400deg); opacity: 1;')
      i.fa-solid.fa-arrow-rotate-right
  .title-h2-a-right
    a.random-post-all(href='/moments/', data-pjax-state) 查看鱼塘