/* 分类目录条、标签目录条 */
#catalog-bar {
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  display: flex;
  border: var(--card-border);
  margin-bottom: 1rem;
  justify-content: space-between;
}

#catalog-bar:hover {
  border-color: var(--main);
}

#catalog-bar i {
  line-height: inherit;
}

#catalog-list {
  /* 分类/标签较少时，可以选择不设置 width，居中显示 catalog-list-item */
  /* width: 100%; */
  margin: 0 0.5rem;
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

#catalog-list::-webkit-scrollbar {
  display: none;
}

.catalog-list-item a {
  margin: 0 0.2em;
  padding: 0.2em 0.3em 0.3em;
  font-weight: bold;
  border-radius: var(--border-radius);
  color: var(--font-color);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.catalog-list-item:hover a {
  background: var(--main);
  color: var(--second);
}

.catalog-list-item.selected a {
  background: var(--light-text);
  color: var(--second);
}

a.catalog-more {
  min-width: fit-content;
  font-weight: bold;
  color: var(--font-color);
}

a.catalog-more:hover {
  color: var(--main);
}
div#首页 {
  background: var(--heo-theme);
  color: var(--heo-white) !important;
  border-radius: 8px;
  height: 30px;
  margin-right: 2px;
}
div#首页 a {
  color: white;
}
