/* 颜色 */
:root {
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-card-bg-none: rgba(255, 255, 255, 0);
  --anzhiyu-main-op-deep: var(--anzhiyu-theme-op-deep) !important;
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-white: #fff;
  --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
  --anzhiyu-black: #000;
  --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-orange: #e38100;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --style-border-none: 1px solid transparent;
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
  --anzhiyu-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --anzhiyu-theme-op-deep: #4259efdd;
  --global-bg: #f7f9fe;
  --anzhiyu-theme: #3b70fc;
  --anzhiyu-theme-deep: #1856fb;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-blue: #3b70fc;
  --anzhiyu-red: #d8213c;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #363636;
  --anzhiyu-background: #f7f9fe;
  --anzhiyu-reverse: #000;
  --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
  --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
  --anzhiyu-hovertext: var(--anzhiyu-theme);
  --anzhiyu-ahoverbg: #f7f7fa;
  --anzhiyu-lighttext: var(--anzhiyu-main);
  --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
  --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
  --anzhiyu-card-btn-bg: #edf0f7;
  --anzhiyu-post-blockquote-bg: #fafcff;
  --anzhiyu-post-tabs-bg: #f2f5f8;
  --anzhiyu-secondbg: #f1f3f8;
  --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --anzhiyu-card-bg: #fff;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #e3e8f7;
}

[data-theme="dark"] {
  --anzhiyu-theme-op-deep: #0084ffdd;
  --global-bg: #18171d;
  --anzhiyu-theme: #0084ff;
  --anzhiyu-theme-deep: #0076e5;
  --anzhiyu-theme-op: #0084ff23;
  --anzhiyu-blue: #0084ff;
  --anzhiyu-red: #ff3842;
  --anzhiyu-pink: #ff7c7c;
  --anzhiyu-green: #57bd6a;
  --anzhiyu-fontcolor: #f7f7fa;
  --anzhiyu-background: #18171d;
  --anzhiyu-reverse: #fff;
  --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
  --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
  --anzhiyu-hovertext: #0a84ff;
  --anzhiyu-ahoverbg: #fff;
  --anzhiyu-lighttext: #f2b94b;
  --anzhiyu-secondtext: #a1a2b8;
  --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
  --anzhiyu-card-btn-bg: #30343f;
  --anzhiyu-post-blockquote-bg: #000;
  --anzhiyu-post-tabs-bg: #121212;
  --anzhiyu-secondbg: #30343f;
  --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --anzhiyu-card-bg: #1d1b26;
  --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --anzhiyu-card-border: #42444a;
}
:root {
  --heo-white: #fff;
  --heo-white-op: rgba(255, 255, 255, 0.2);
  --heo-black: #000;
  --heo-black-op: rgba(0, 0, 0, 0.2);
  --heo-none: #00000000;
  --heo-gray: #999999;
  --heo-gray-op: #9999992b;
  --heo-vip: #e5a80d;
  --heo-main: var(--heo-theme);
  --heo-main-op: var(--heo-theme-op);
  --heo-main-op-deep: var(--heo-theme-op-deep);
  --heo-main-none: var(--heo-theme-none);
  --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
  --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
  --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
  --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
  --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
  --heo-shadow-green: 0 8px 12px -3px #87ee7936;
  --heo-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
  --heo-snackbar-time: 5s;
}

::selection {
  background: var(--heo-fontcolor);
  color: var(--heo-background);
}

[data-theme=light] {
  --heo-theme: #425AEF;
  --heo-theme-op: #4259ef23;
  --heo-theme-op-deep: #4259efdd;
  --heo-theme-none: #4259ef01;
  --heo-blue: #425AEF;
  --heo-red: #f04a63;
  --heo-pink: #FF7C7C;
  --heo-green: #57bd6a;
  --heo-yellow: #c28b00;
  --heo-yellow-op: #d99c001a;
  --heo-orange: #e38100;
  --heo-fontcolor: #363636;
  --heo-background: #f7f9fe;
  --heo-reverse: #000;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
  --heo-hovertext: var(--heo-main);
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: var(--heo-main);
  --heo-secondtext: rgba(60, 60, 67, 0.6);
  --heo-scrollbar: rgba(60, 60, 67, 0.4);
  --heo-card-btn-bg: #edf0f7;
  --heo-post-blockquote-bg: #fafcff;
  --heo-post-tabs-bg: #f2f5f8;
  --heo-secondbg: #f1f3f8;
  --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --heo-card-bg: #fff;
  --heo-card-bg-op: var(--heo-black-op);
  --heo-card-bg-none: rgba(255, 255, 255, 0);
  --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-card-border: #e3e8f7;
  --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--heo-card-border);
  --style-border-always: 1px solid var(--heo-card-border);
  --style-border-hover: 1px solid var(--heo-main);
  --style-border-hover-always: 1px solid var(--heo-main);
  --style-border-dashed: 1px dashed var(--heo-theme-op);
  --style-border-forever: 2px solid var(--heo-main);
}

[data-theme=dark] {
  --heo-theme: #f2b94b;
  --heo-theme-op: #f2b94b23;
  --heo-theme-op-deep: #f2b94bdd;
  --heo-theme-none: #f2b94b00;
  --heo-blue: #0084FF;
  --heo-red: #FF3842;
  --heo-pink: #d44040;
  --heo-green: #3e9f50;
  --heo-yellow: #ffc93e;
  --heo-yellow-op: #ffc93e30;
  --heo-orange: #ff953e;
  --heo-fontcolor: #F7F7FA;
  --heo-background: #18171d;
  --heo-reverse: #fff;
  --heo-maskbg: rgba(0, 0, 0, 0.6);
  --heo-maskbgdeep: rgba(0, 0, 0, 0.85);
  --heo-hovertext: #0A84FF;
  --heo-ahoverbg: #fff;
  --heo-lighttext: var(--heo-theme);
  --heo-secondtext: #a1a2b8;
  --heo-scrollbar: rgba(200, 200, 223, 0.4);
  --heo-card-btn-bg: #30343f;
  --heo-post-blockquote-bg: #000;
  --heo-post-tabs-bg: #121212;
  --heo-secondbg: #30343f;
  --heo-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --heo-card-bg: #1d1e22;
  --heo-card-bg-op: var(--heo-white-op);
  --heo-card-bg-none: #1d1b2600;
  --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-card-border: #3d3d3f;
  --heo-shadow-border: 0 8px 16px -4px #00000050;
  --style-border: 1px solid var(--heo-card-border);
  --style-border-always: 1px solid var(--heo-card-border);
  --style-border-hover: 1px solid var(--heo-theme);
  --style-border-hover-always: 1px solid var(--heo-theme);
  --style-border-dashed: 1px dashed var(--heo-theme-op);
  --style-border-forever: 2px solid var(--heo-lighttext);
}

@media screen and (max-width: 768px) {
  :root {
    --style-border: 0px solid var(--heo-card-border);
    --style-border-hover: 0px solid var(--heo-main);
  }
}

:root{
    --lyx-border:#c9c9c9;
    --lyx-blue:#6cf;
    --lyx-gray:#e2e2e2;
    --lyx-theme:#6cf;
    --lyx-green:#39c5bb;
    --lyx-black-acrylic1: #0008;
    --lyx-black-acrylic2: #000a;
    --lyx-black-acrylic3:#00000099;
    --lyx-black:black;
    --lyx-white:white;
    --lyx-white-acrylic1:#fffd;
    --lyx-white-acrylic2:#fffa;
    --lyx-blackgray:#797979;
    --lyx-0:#0000;
    --lyx-scrollbar: #acacacDD;
}
:root{
    --blockquote-color:#333;
    --global-font-size:16px;
    --card-bg:rgba(255, 255, 255, .6);
    --leonus-black:#333;
    --leonus-blue:#49b1f5;
    --leonus-purple:#4976f5;
    --leonus-light:#fff;
    --leonus-dark:#333;
    --leonus-border:1px solid #e0e3ed;
    --leonus-blog-bg:#f7f9fe;
    --leonus-relatedPosts:#242428;
    --leonus-404-bg:#f7f9fe;
    --leonus-orange:#ff885f
}
[data-theme=dark]{
    --leonus-blog-bg:#30303c;
    --leonus-light:#333;
    --leonus-dark:#fff;
    --search-bg:rgb(47 48 50);
    --card-bg:rgb(47 48 50 / 50%);
    --scrollbar-color:#555;
    --leonus-relatedPosts:#333;
    --leonus-404-bg:rgb(24, 24, 30)
}
:root {
  --default-cursor: url(https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/default.cur);
  --pointer-cursor: url(https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/pointer.cur);
  --theme-color: #425AEF;
  --global-bg: #F2F6FC;
  --global-bg-lighter: rgba(242, 246, 252, .4);
  --global-bg-bolder: rgba(242, 246, 252, .8);
  --r: 22;
  --g: 119;
  --b: 179;
  --main: rgb(var(--r), var(--g), var(--b));
  --second: var(--white);
  --cover-bg: rgb(var(--r), var(--g), var(--b));
  --main-lighter: rgba(var(--r), var(--g), var(--b), .4);
  --main-bolder: rgba(var(--r), var(--g), var(--b), .8);
  --box-shadow: 0 8px 12px -3px rgba(45, 45, 45, .05);
  /* --box-shadow: 0 2px 3px 1px rgba(45, 45, 45, .05); */
  --main-shadow: 0 8px 12px -3px rgba(var(--r), var(--g), var(--b), .2);
  /* --main-shadow: 0 2px 3px 1px rgba(var(--r), var(--g), var(--b), .2); */
  --card-border: 1px solid var(--tab-botton-bg);
  --card-border-dashed: 2px dashed var(--tab-button-hover-bg);
  --border-radius: .5rem;
  --light-text: #FF7242;
  --light-text-bg: rgba(255, 149, 63, .1);
  --backdrop-filter: saturate(240%) blur(20px);
}

[data-theme='dark'] {
  --global-bg: #000;
  --global-bg-lighter: rgba(0, 0, 0, .4);
  --global-bg-bolder: rgba(0, 0, 0, .8);
  --main: #5C5C5C;
  --second: #EEE !important;
  --main-lighter: rgba(92, 92, 92, .4);
  --main-bolder: rgba(92, 92, 92, .8);
  --main-shadow: 0 2px 3px 1px rgba(92, 92, 92, .2);
  --light-text: #FFB449;
  --light-text-bg: rgba(255, 180, 73, .1);
}

[data-theme='dark'] #web_bg::before,
[data-theme='dark'] #footer::before,
[data-theme='dark'] #page-header::before {
  display: none;
}
:root {
    --zhsher-white: #fff;
    --zhsher-white-op: rgba(255, 255, 255, 0.2);
    --zhsher-black: #000;
    --zhsher-black-op: rgba(0, 0, 0, 0.2);
    --zhsher-none: #00000000;
    --zhsher-gray: #999999;
    --zhsher-border-radius: 8px;
    --style-border-always: 1px solid var(--zhsher-card-border);
    --zhsher-gray-op: #9999992b;
    --zhsher-vip: #e5a80d;
    --zhsher-main: var(--zhsher-theme);
    --zhsher-main-op: var(--zhsher-theme-op);
    --zhsher-main-op-deep: var(--zhsher-theme-op-deep);
    --zhsher-main-none: var(--zhsher-theme-none);
    --zhsher-shadow-theme: 0 8px 12px -3px var(--zhsher-theme-op);
    --zhsher-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
    --zhsher-shadow-main: 0 8px 12px -3px var(--zhsher-main-op);
    --zhsher-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .20);
    --zhsher-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .20);
    --zhsher-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
    --zhsher-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
    --zhsher-shadow-red: 0 8px 12px -3px #ee7d7936;
    --zhsher-shadow-green: 0 8px 12px -3px #87ee7936;
    --zhsher-logo-color: linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --zhsher-snackbar-time: 2s;
}

[data-theme=light] {
    --zhsher-theme: #425AEF;
    --zhsher-theme-op: #4259ef23;
    --zhsher-theme-op-deep: #4259efdd;
    --zhsher-theme-none: #4259ef01;
    --zhsher-blue: #425AEF;
    --zhsher-red: #f04a63;
    --zhsher-pink: #FF7C7C;
    --zhsher-green: #57bd6a;
    --zhsher-yellow: #c28b00;
    --zhsher-yellow-op: #d99c001a;
    --zhsher-orange: #e38100;
    --zhsher-fontcolor: #363636;
    --zhsher-background: #f7f9fe;
    --zhsher-reverse: #000;
    --zhsher-maskbg: rgba(255, 255, 255, 0.6);
    --zhsher-maskbgdeep: rgba(255, 255, 255, 0.85);
    --zhsher-hovertext: var(--zhsher-main);
    --zhsher-ahoverbg: #F7F7FA;
    --zhsher-lighttext: var(--zhsher-main);
    --zhsher-secondtext: rgba(60, 60, 67, 0.6);
    --zhsher-scrollbar: rgba(59, 121, 253, 0.9);
    --zhsher-card-btn-bg: #edf0f7;
    --zhsher-post-blockquote-bg: #fafcff;
    --zhsher-post-tabs-bg: #f2f5f8;
    --zhsher-secondbg: #f1f3f8;
    --zhsher-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --zhsher-card-bg: #fff;
    --zhsher-card-bg-op: var(--zhsher-black-op);
    --zhsher-card-bg-none: rgba(255, 255, 255, 0);
    --zhsher-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --zhsher-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --zhsher-card-border: #e3e8f7;
    --zhsher-shadow-border: 0 8px 16px -4px #2c2d300c;
    --style-border: 1px solid var(--zhsher-card-border);
    --style-border-hover: 1px solid var(--zhsher-main);
    --style-border-hover-always: 1px solid var(--zhsher-main);
    --style-border-dashed: 1px dashed var(--zhsher-theme-op);
    --style-border-forever: 2px solid var(--zhsher-main);
}

[data-theme=dark] {
    --zhsher-theme: #f2b94b;
    --zhsher-theme-op: #f2b94b23;
    --zhsher-theme-op-deep: #f2b94bdd;
    --zhsher-theme-none: #f2b94b00;
    --zhsher-blue: #0084FF;
    --zhsher-red: #FF3842;
    --zhsher-pink: #d44040;
    --zhsher-green: #3e9f50;
    --zhsher-yellow: #ffc93e;
    --zhsher-yellow-op: #ffc93e30;
    --zhsher-orange: #ff953e;
    --zhsher-fontcolor: #F7F7FA;
    --zhsher-background: #18171d;
    --zhsher-reverse: #fff;
    --zhsher-maskbg: rgba(0, 0, 0, 0.6);
    --zhsher-maskbgdeep: rgba(0, 0, 0, 0.85);
    --zhsher-hovertext: #0A84FF;
    --zhsher-ahoverbg: #fff;
    --zhsher-lighttext: var(--zhsher-theme);
    --zhsher-secondtext: #a1a2b8;
    --zhsher-scrollbar: rgba(200, 200, 223, 0.4);
    --zhsher-card-btn-bg: #30343f;
    --zhsher-post-blockquote-bg: #000;
    --zhsher-post-tabs-bg: #121212;
    --zhsher-secondbg: #30343f;
    --zhsher-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --zhsher-card-bg: #1d1e22;
    --zhsher-card-bg-op: var(--zhsher-white-op);
    --zhsher-card-bg-none: #1d1b2600;
    --zhsher-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --zhsher-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --zhsher-card-border: #3d3d3f;
    --zhsher-shadow-border: 0 8px 16px -4px #00000050;
    --style-border: 1px solid var(--zhsher-card-border);
    --style-border-hover: 1px solid var(--zhsher-theme);
    --style-border-hover-always: 1px solid var(--zhsher-theme);
    --style-border-dashed: 1px dashed var(--zhsher-theme-op);
    --style-border-forever: 2px solid var(--zhsher-lighttext);
}