/* AI */
.post-TianliGPT {
  background: var(--heo-secondbg);
  border-radius: 12px;
  padding: 12px;
  line-height: 1.3;
  border: var(--style-border-always);
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  .post-TianliGPT {
    margin-top: 22px;
  }
}

.tianliGPT-title {
  display: flex;
  color: var(--heo-lighttext);
  border-radius: 8px;
  align-items: center;
  padding: 0 12px;
  cursor: default;
  user-select: none;
}

.tianliGPT-title-text {
  font-weight: bold;
  margin-left: 8px;
  line-height: 1;
}

.tianliGPT-explanation {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--heo-card-bg);
  border-radius: 8px;
  border: var(--style-border-always);
  font-size: 15px;
  line-height: 1.4;
  display: flex;
}

.tianliGPT-suggestions {
  display: flex;
  flex-wrap: wrap;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item {
  margin-top: 12px;
  padding: 8px 12px;
  background: var(--heo-card-bg);
  border-radius: 8px 8px 8px 0;
  border: var(--style-border-always);
  font-size: 15px;
  line-height: 1.4;
  display: flex;
  width: fit-content;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.tianliGPT-suggestions .tianliGPT-suggestions-item:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

.blinking-cursor {
  background-color: var(--heo-main);
  width: 10px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  animation: blinking-cursor 0.5s infinite;
  -webkit-animation: blinking-cursor 0.5s infinite;
  margin-left: 4px;
}

@keyframes blinking-cursor {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tianliGPT-tag {
  font-size: 12px;
  background-color: var(--heo-lighttext);
  color: var(--heo-card-bg);
  font-weight: bold;
  border-radius: 4px;
  margin-left: auto;
  line-height: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

ins.adsbygoogle {
  margin: 16px 0;
  background: var(--heo-card-bg);
  border-radius: 12px;
  overflow: hidden;
  border: var(--style-border-always);
}

#tianliGPT-Toggle {
  font-size: 12px;
  background: var(--heo-lighttext);
  color: var(--heo-card-bg);
  padding: 4px;
  border-radius: 4px;
  margin-left: 6px;
  transform: scale(0.8);
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

#tianliGPT-Toggle:hover {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
}

.tianliGPT-title-icon {
  width: 20px;
  height: 20px;
}

.tianliGPT-title-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--heo-main);
}

.tianliGPT-title-icon svg path {
  fill: var(--heo-main);
}