if page.top_img !== false
  if is_post()
    - var cover = page.cover || theme.default_img
    - var post_cover=`background-image: url('${cover}')`
  - var site_title = page.title || theme.default_title
  - var isHomeClass = is_post() ? 'post-bg' : 'not-top-img'
else
  - var cover = false
  - var isHomeClass = 'not-top-img'


header#page-header(class=isHomeClass style=post_cover)
  !=partial('includes/header/nav', {}, {cache: true})
  if is_post()
    .cover.loaded#coverdiv
      img.nolazyload.entered.loaded#post-cover(src=`${cover}`, alt='cover', data-ll-status='loaded')
    include ./post-info.pug
    