nav#nav.show
  #nav-group
    #blog_name
      .back-home-button(tabindex='-1')
        i.back-home-button-icon.fas.fa-grip-vertical
        .back-menu-list-groups
          .back-menu-list-group
            .back-menu-list-title 博客
            .back-menu-list
              a.back-menu-item(href='https://zhheo.com/' rel='external nofollow' title='主页' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20232e121c3fb2daa71897d26a515e030f49073402.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 主页
              a.back-menu-item(href='/' title='博客' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20234681e06b8e086aa5b15481cb89fd38c7071002.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 博客
              a.back-menu-item(href='https://plog.zhheo.com/' rel='external nofollow' title='图片博客' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20236a16354d7c333cc7595efaee4b8c5667074602.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 图片博客
              a.back-menu-item(href='https://apps.zhheo.com/' rel='external nofollow' title='开发博客' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023042bb31614949504f9ac59b134ce971d075802.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 开发博客
          .back-menu-list-group
            .back-menu-list-title 服务
            .back-menu-list
              a.back-menu-item(href='https://support.qq.com/product/335533' rel='external nofollow' title='产品反馈' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023b8e4c8d756c621fc83633fd8d21ead8c075802.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 产品反馈
              a.back-menu-item(href='/wechat/' title='公众号' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/202319c8ac4827b3c198908bfebf6867d971074702.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 公众号
              a.back-menu-item(href='https://icon.zhheo.com/' rel='external nofollow' title='应用图标库' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/202300b4b458642ccff4f63554897fffbb83075702.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 应用图标库
              a.back-menu-item(href='https://pan.zhheo.com/' rel='external nofollow' title='海鸥云盘' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/202318befd319f7f13e6702ad896a7ac7376072102.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 海鸥云盘
              a.back-menu-item(href='https://img.zhheo.com/' rel='external nofollow' title='海鸥图床' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023e66aa8540e5dbe7ee252665d9cf8931e073102.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 海鸥图床
          .back-menu-list-group
            .back-menu-list-title 应用
            .back-menu-list
              a.back-menu-item(href='/p/671f98c8.html' title='敲木鱼' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20238366720da498fb5755e8c714128097fc074102.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 敲木鱼
              a.back-menu-item(href='/p/4db484b3.html' title='轻节食' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20234f148f46262a7b29a22d617eef8afe1b075002.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 轻节食
              a.back-menu-item(href='/p/a170ac02.html' title='DelSpace3' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023e5a7bc74e6fa27400c4a15dbaafeead7070002.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text DelSpace3
              a.back-menu-item(href='/p/9df485ea.html' title='比例计' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20238814e8e0a0af915c47e3d91e001127f6071302.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 比例计
              a.back-menu-item(href='/p/1b0d95ef.html' title='摸鱼' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20239c4796c9958a3fe54f7d1aabfecdc352072402.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 摸鱼
          .back-menu-list-group
            .back-menu-list-title 表情
            .back-menu-list
              a.back-menu-item(href='/p/2daa6a7b.html' title='Heo' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023af0657c4847e2b4ebc558f382ca5119c073402.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text Heo
              a.back-menu-item(href='/p/5115d869.html' title='熊猫二憨' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023ce09680d1c1b2c334a6f832a7db9336f074402.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 熊猫二憨
          .back-menu-list-group
            .back-menu-list-title 主题
            .back-menu-list
              a.back-menu-item(href='https://butterfly.zhheo.com/' rel='external nofollow' title='美化文档' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/20235ee99ed2b28e9909c9d82f7eef61ce80075802.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text 美化文档
              a.back-menu-item(href='/p/bed74f41.html' title='TimePlus' target='_blank')
                img.back-menu-item-icon.entered.loading(src='https://p.zhheo.com/2023272c6908a851dfe13e4a4dcc6ad7ffeb070902.png!cover_mini' data-ll-status='loading')
                span.back-menu-item-text TimePlus
      a#site-name(href='/' title='返回博客主页')
        i.iconfont.icon-HRN
    #page-name-mask
      #page-name
        a#page-name-text(onclick='btf.scrollToDest(0, 500)')
          span #[=config.title]
    #menus
      !=partial('includes/header/menu_item', {}, {cache: true})
    #nav-left
      #fps-group.show
        #fps
        span.fpsText FPS
    #nav-right
      #travellings_button.nav-button.only-home(style='display: none')
        a.site-page(onclick='totraveling()' title='随机前往一个开往项目网站' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-train-subway
      #randomPost_button.nav-button
        a.site-page(onclick='toRandomPost()' title='随机前往一个文章')
          i.fas.fa-shuffle
      #search-button.nav-button
        a.site-page.social-icon.search(title='站内搜索' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-magnifying-glass
      #nav-console.nav-button
        a.console_switchbutton(onclick='heo.showConsole()' title='显示中控台' href='javascript:void(0);' rel='external nofollow')
          i.fas.fa-bars-progress
      #nav-totop.nav-button(onclick='btf.scrollToDest(0, 500)')
        a.totopbtn(data-pjax-state='')
          i.fas.fa-arrow-up
          span#percent 0
      #toggle-menu
        a.site-page(data-pjax-state='')
          i.fas.fa-bars.fa-fw
