#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='经验分享')
            a(href="/categories/经验分享/") 经验分享
        .category-bar-item(id='翻译内容')
            a(href="/categories/翻译内容/") 翻译内容
        .category-bar-item(id='资源中心')
            a(href="/categories/资源中心/") 资源中心
        .category-bar-item(id='优质推荐')
            a(href="/categories/优质推荐/") 优质推荐
        .category-bar-item(id='佳作推荐')
            a(href="/categories/佳作推荐/") 佳作推荐
        .category-bar-item(id='我的开发')
            a(href="/categories/我的开发/") 我的开发
        .category-bar-item(id='闲聊杂谈')
            a(href="/categories/闲聊杂谈/") 闲聊杂谈
        .category-bar-item(id='转载内容')
            a(href="/categories/转载内容/") 转载内容
    a.category-bar-more(href="/categories/") 更多