#nav-music
  #nav-music-hoverTips(onclick='anzhiyu.musicToggle()') 播放音乐
  meting-js#3778678(server="netease" type="playlist" mutex="true" preload="none" theme="var(--anzhiyu-main)" data-lrctype="0" order="random")