link(rel="stylesheet",href="https://cdn1.tianli0.top/gh/zhheo/Post-Abstract-AI@0.1/tianli_gpt.css")
script.
  let tianliGPT_postSelector = '\#post \#article-container';let tianliGPT_key = `theme.post_meta.ai.tianliGPT.key`;
script(src="https://cdn1.tianli0.top/gh/zhheo/Post-Abstract-AI@0.1/tianli_gpt.js")