if theme.copyright.enable && page.copyright !== false
  - let author = page.copyright_author ? page.copyright_author : config.author
  - let url = page.copyright_url ? page.copyright_url : page.permalink
  - let info = page.copyright_info || _p('post.copyright.copyright_content', theme.copyright.license_url, theme.copyright.license, config.url, config.title)
  .post-copyright
    .post-copyright__author
      each item, index in page.tags.data
       a.post-copyright__original(href=url_for(item.path)).post-meta-tags #[=(config.emoji && config.emoji.tags && config.emoji.tags[item.name] || '') + item.name]
      a.post-copyright-title(href='#' data-pjax-state='')
        span #[=page.title]
    .post-copyright__type
      span#post-copyright-url.post-copyright-info
        a(href=url_for(url))= decodeURI(url)
      button.post-copyright-copybtn(onclick='rm.copyPageUrl()')
        i.fas.fa-paste.copy-btn
    .post-copyright__notice
      span.post-copyright-info!= info
  